<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <canvas id="myCanvas" width="1000" height="1000" class="border border-5 rounded-3 border-info"></canvas>
            </div>
        </div>
        <!-- <div id="myCanvas"></div> -->
    </body>
</html>
